/* -------- Global Styles -------- */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background: #222;
    color: #333;
}

/* -------- Navbar -------- */
.navbar {
    background: black;
    padding: 15px 0;
}

.navbar .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: white;
    text-decoration: none;
}

.btn {
    padding: 8px 14px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn.primary {
    background: #4CAF50;
    color: white;
}

.btn.warning {
    background: #FFA000;
    color: white;
}

.btn.danger {
    background: #E53935;
    color: white;
}

/* -------- Layout -------- */
.container {
    width: 90%;
    margin: 25px auto;
}

/* -------- Notes Grid -------- */
.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

/* -------- Note Card -------- */
.card {
    background: black;
    padding: 18px;
    border-radius: 8px;
    color: white;

    /* White glow shadow */
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}


.card h3 {
    margin-top: 0;
}

.card .actions a {
    margin-right: 10px;
    font-size: 14px;
}

/* -------- Form Styles -------- */
form {
    background: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    color: white;
}

input, textarea {
    width: 98%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

button {
    background: #4CAF50;
    padding: 10px 20px;
    color: white;
    border: none;
    margin-top: 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #43a047;
}

.flash-container {
    width: 90%;
    margin: 10px auto;
}

.flash-message {
    padding: 12px 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 500;
}

/* Success */
.flash-message.success {
    background: #d4edda;
    color: #155724;
}

/* Info */
.flash-message.info {
    background: #d1ecf1;
    color: #0c5460;
}

/* Error */
.flash-message.error {
    background: #f8d7da;
    color: #721c24;
}
